# Knowledge Discovery in Databases
## Fase de seleção dos dados

Nesta fase foram analisados, discutidos e selecionados os atributos que são mais relevantes e tendem a gerar respostas mais confiáveis na fase de Mineração de Dados.

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('alunos_categoria_administrativa.csv', sep='|')

### Filtrando os alunos cujo a categoria administrativa do curso seja 'Pública Estadual'

In [7]:
df.to_csv('alunos_categoria_administrativa_PV.csv', sep=';', index=None)

In [54]:
dfAlunos1

,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,TP_TURNO,TP_GRAU_ACADEMICO,TP_COR_RACA,TP_SEXO,NU_ANO_NASCIMENTO,NU_MES_NASCIMENTO,NU_DIA_NASCIMENTO,DT_INGRESSO_CURSO,IN_RESERVA_ETNICO,IN_RESERVA_RENDA_FAMILIAR,IN_CONCLUINTE
233257,2,1,4.0,1.0,1,1,1988,11,9,01/01/2008,NaN,NaN,0
233258,2,1,4.0,1.0,1,2,1987,12,1,01/01/2007,NaN,NaN,0
233259,2,1,4.0,1.0,1,1,1989,12,13,01/01/2009,0.0,0.0,1
233260,2,1,4.0,1.0,1,2,1989,9,20,01/01/2010,NaN,NaN,0
233261,2,1,4.0,1.0,1,1,1994,6,1,01/01/2013,NaN,NaN,1
233262,2,1,4.0,1.0,1,2,1993,9,13,01/01/2011,NaN,NaN,0
233263,2,1,4.0,1.0,1,1,1993,2,27,01/01/2011,NaN,NaN,1
233264,2,1,4.0,1.0,1,1,1992,6,18,01/01/2011,0.0,0.0,0
233265,2,1,4.0,1.0,1,1,1993,12,17,01/01/2011,NaN,NaN,1
233266,2,1,4.0,1.0,1,2,1990,11,21,01/01/2011,0.0,0.0,1
233267,2,1,4.0,1.0,1,1,1990,2,23,01/01/2011,0.0,0.0,1
233268,2,1,4.0,1.0,1,2,1993,6,4,01/01/2013,0.0,0.0,0
233269,2,1,4.0,1.0,1,1,1992,8,6,01/01/2012,NaN,NaN,1
233270,2,1,4.0,1.0,2,2,1992,12,11,01/01/2016,1.0,0.0,0
233271,2,1,4.0,1.0,1,1,1994,6,24,01/01/2014,NaN,NaN,0
233272,2,1,4.0,1.0,4,2,1994,9,13,01/01/2014,0.0,0.0,0
233273,2,1,4.0,1.0,1,1,1992,3,29,01/01/2012,0.0,0.0,1
233274,2,1,4.0,1.0,1,1,1993,10,16,01/01/2012,NaN,NaN,1
233275,2,1,4.0,1.0,4,1,1992,5,30,01/01/2012,0.0,0.0,1
233276,2,1,4.0,1.0,1,1,1994,4,29,01/01/2012,NaN,NaN,0
233277,2,1,4.0,1.0,4,1,1994,7,31,01/01/2012,NaN,NaN,1
233278,2,1,4.0,1.0,1,2,1994,2,3,01/01/2012,NaN,NaN,1
233279,2,1,4.0,1.0,1,1,1993,7,4,01/01/2012,0.0,0.0,1
233280,2,1,4.0,1.0,1,1,1991,4,10,01/01/2012,NaN,NaN,0
233281,2,1,4.0,1.0,3,1,1993,12,5,01/01/2012,1.0,0.0,0
233282,2,1,4.0,1.0,4,1,1994,3,24,01/01/2012,NaN,NaN,1
233283,2,1,4.0,1.0,1,1,1992,10,5,01/01/2012,NaN,NaN,1
233284,2,1,4.0,1.0,4,1,1993,10,15,01/01/2012,NaN,NaN,1
233285,2,1,4.0,1.0,1,1,1993,10,22,01/01/2012,NaN,NaN,1
233286,2,1,4.0,1.0,1,2,1993,10,27,01/01/2012,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11589164,2,3,3.0,3.0,1,2,1995,2,3,01/07/2017,0.0,0.0,0
11589165,2,3,3.0,3.0,1,2,1994,9,1,01/07/2017,NaN,NaN,0
11589166,2,3,3.0,3.0,3,2,1983,11,3,01/07/2017,0.0,0.0,0
11589167,2,3,3.0,3.0,1,2,1995,9,4,01/07/2017,NaN,NaN,0
11589168,2,3,3.0,3.0,0,2,1997,3,17,01/07/2017,0.0,0.0,0
11589169,2,3,3.0,3.0,3,2,1999,11,6,01/07/2017,1.0,0.0,0
11589170,2,3,3.0,3.0,3,1,1991,2,7,01/07/2017,0.0,0.0,0
11589171,2,3,3.0,3.0,3,2,1974,12,16,01/07/2017,1.0,0.0,0
11589172,2,3,3.0,3.0,1,1,1983,7,1,01/07/2017,0.0,0.0,0
11589173,2,3,3.0,3.0,1,2,1990,8,15,01/07/2017,0.0,0.0,0
11589174,2,3,3.0,3.0,1,1,1981,7,23,01/07/2017,NaN,NaN,0
11589175,2,3,3.0,3.0,1,1,1992,12,22,01/07/2017,0.0,0.0,0
11589176,2,3,3.0,3.0,1,2,1986,10,21,01/07/2017,0.0,0.0,0
11589177,2,3,3.0,3.0,2,1,1980,2,1,01/07/2017,0.0,0.0,0
11589178,2,3,3.0,3.0,1,2,1994,7,13,01/07/2017,0.0,0.0,0
11589179,2,3,3.0,3.0,1,2,1985,10,12,01/07/2017,0.0,0.0,0
11589180,2,3,3.0,3.0,1,1,1981,3,19,01/07/2017,0.0,0.0,0
11589181,2,3,3.0,3.0,1,2,1993,6,4,01/07/2017,0.0,0.0,0
11589182,2,3,3.0,3.0,1,1,1996,12,28,01/07/2017,0.0,0.0,0
11589183,2,3,3.0,3.0,1,1,1997,10,16,01/07/2017,0.0,0.0,0
11589184,2,3,3.0,3.0,1,2,1998,10,6,01/07/2017,0.0,0.0,0
11589185,2,3,3.0,3.0,1,2,1983,7,17,01/07/2017,0.0,0.0,0
11589186,2,3,3.0,3.0,1,2,1977,2,26,01/07/2017,0.0,0.0,0
11589187,2,3,3.0,3.0,1,2,1962,7,28,01/07/2017,0.0,0.0,0
11589188,2,3,3.0,3.0,1,2,1971,10,13,01/07/2017,0.0,0.0,0
11589189,2,3,3.0,3.0,1,2,1968,7,26,01/07/2017,0.0,0.0,0
11589190,2,3,3.0,3.0,3,2,1995,7,23,01/07/2017,0.0,0.0,0
11589191,2,3,3.0,3.0,1,1,1998,6,11,01/07/2017,0.0,0.0,0
11589192,2,3,3.0,3.0,1,2,1973,3,15,01/07/2017,0.0,0.0,0
11589193,2,3,3.0,3.0,1,2,1994,10,8,01/07/2017,0.0,0.0,0